<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src='jquery-3.5.1.js'></script>
    <link rel="stylesheet" href="mystyle.css">
    <title></title>
  </head>
  <body>
    <form id='form'>
      <label>Enter Postcode: <input id='input' type="text"></label>
      <input type="submit" value="submit">

    </form>

    <div id="app">

    </div>
    <script src='Restaurants.js'></script>
    <script src='interface.js'></script>
  </body>
</html>
